html, body {
    font-family: 'Merriweather', serif;
    font-display: swap;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

@media only screen and (min-width: 3840px) {
    html {
        font-size: 3.5rem;
    }
    body {
        background-image: url("./jeshoots_bg3840.jpg");
    }
}

@media only screen and (min-width: 1920px) and (max-width: 3839px) {
    html {
        font-size: 1.5rem;
    }
    body {
        background-image: url("./jeshoots_bg1920.jpg");
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
    body {
        background-image: url("./jeshoots_bg1600.jpg");
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1599px) {
    body {
        background-image: url("./jeshoots_bg1366.jpg");
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    body {
        background-image: url("./jeshoots_bg1280.jpg");
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    body {
        background-image: none !important;
        background-attachment: scroll !important;
    }
    body:before {
        content: '';
        background-image: url("./jeshoots_bg768.jpg");
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
    }
}

@media only screen and (min-width: 250px) and (max-width: 767px) {
    html {
        font-size: 0.6rem;
    }
    body {
        background-image: none !important;
        background-attachment: scroll !important;
    }
    body:before {
        content: '';
        background-image: url("./jeshoots_bg500.jpg");
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
    }
    #menuBtn {
        display: block !important;
    }
    .links {
        display: none;
    }
    .links_open {
        overflow: hidden;
    }
    .links_open a {
        text-align: left;
        color: black;
        background-color: rgba(255, 255, 255, 0.541);
        border-bottom: solid 1px black;
        position: relative;
        padding: 0.9em;
        display: block;
        font-size: 0.9em;
        width: 100%;
    }
}

body {
    color: #333;
    margin: 0;
    box-sizing: border-box;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

button {
    background-color: #f4f4f4;
    outline: none;
}

button:active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}